<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">  
</head>
<body>
    
<!-- Header -->
<header>
    <div class="logo_div">
        <img src="https://image.flaticon.com/icons/svg/776/776568.svg" alt="Logo" class="logo">
    </div>
    <div class="header-text-div">
        <h1>
            Travel <span>Together</span>
        </h1>
    </div>
</header>

<!-- Main -->
<main>
    <section>
        <div class="form">
        <form id="form1">
        <label for="destination">Travel Destination:
            <input type="text" id="destination" placeholder="Tell us your destination" required>
        </label>
        <label for="date">Date of Departure:
            <input type="date" id="date" name="date" required>
        </label>

        <!-- TODO: submit input-->
         <button type="submit" form="form1" value="Submit" id="submit-btn" class="btn">Submit</button>
        </form>
    </section>
    <hr>
    <section>
        <div class="log">
            <h5 id="destination-log">Destination Log</h5>

            <!-- TODO: add destinations -->
            <ul class="log-list" >
             
            </ul> 
        </div>
    </section>
</main>

<!-- Footer -->
<footer>
    <div class="contacts">
        <div>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p>dmail@gmail.com</p>
        </div>
        <div>
            <i class="fa fa-phone-square" aria-hidden="true"></i>
            <p>231-334-556-099</p>
        </div>
    </div>
    <div class="about">
        <p>Created by Ifeoma</p>
    </div>
</footer>

<script src="../js/app.js"></script>

<script src="../js/promiseHandler.js"></script>

<script src="../../../dist/main.js"></script>  
</body>
</html>