/* Header Styles */
header{
    background-color: azure;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
}

.logo_div{
    height: auto;
    width: 5em;
    margin: 0.6em 4em;
}

.logo{
    padding: 10px 0 0 0;
}

.header-text-div{
     margin: 0.6em 7em;
}

.header-text-div  span {
     color:rgb(24,90,157);
     font-family: 'Satisfy', cursive;
     font-size: 1.4em;
 }

@media only screen and (max-width: 768px) {
    .header-text-div  span {
        font-size: 1em;
    } 
    .logo{
        padding: 5px 0 0 0;
    } 
    .logo_div{
        width: 4em;
    }
    .header-text-div{
        font-size: 0.8em;
    }
}
