main{
    margin: 2em 0;
    min-height: 70vh;
}

/* Form styling */
.form{ 
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 0.5em 0;
    margin-bottom: 1em;
}
label{
    display: block;
    margin: 2em 0;
}

input{
    padding: 3px 10px;
    border: 1px solid #000;
    border-radius: 4px;
}

/* Destination Log Style */
.log{
    width: 60%;
    margin: auto;
    padding: 0.5em 0;  
    background-color: black; 
}

#destination-log{
    text-align: center;
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
    text-decoration: underline;
    margin: 0;
}

.log-list{
    display: flex;
    margin: 0 35px 0 0;
    border-radius: 10px;
    border: 1px solid #fff;
    justify-content: space-between;
    background-color: honeydew;
    padding: 0 10px;
  
}
.log-image{
    border-radius: 10px;
    border: 1px  solid gray;
}

.log-list-image{
    width: 15rem;
    height: auto;

}
.log-list-text{
   color: #000;
    margin: 0 3em 0 0;
    padding: 1em 0 0 0;
    width: 40%;
}

#destination-name{
    font-size: 2rem;
    margin: 0;
}

.destination-weather{
    font-size: 1.5em;
}

.btn-delete{
    margin: 1.5em 0 0 0;
}

ul{
    display: none;
}
@media only screen and (max-width: 768px) {
    .form{ 
        width: 100%;
        font-size: 2rem;
        
     }
    input{
         display: block;
         margin: auto;
     }
     .log{
        width: 70%;
     }
     .log-list{
        padding: 4px 0;
        flex-direction: column;
     }
    .log-list-image{
        width: 90%;
        margin: auto;
    }
    .log-list-text{
         margin-right: 0;
         padding: 1em 0 1em 0;
         width: 100%;
         border-top: 1px solid #000;
         border-bottom: 1px solid #000;
        margin: 1em 0 1em 0;
    } 
    .btn-delete{
        margin: 0;
    }
    ul{
         display: block;
     }
}    